<h1 class="delete-user-heading">Are you sure you want to delete this account?</h1>
<h2>This action cannot be reversed!</h2>

<form action="/user_details">
  <button class="back-to-details-btn">Back to User Details</button>
</form>

<form action="/delete_user" method="post">
<input type="hidden" name="_method" value="delete">
  <button class="delete-user-btn">Delete Account</button>
</form>