<h1>Are you sure you want to delete this account?</h1>
<h2>This action cannot be reversed!</h2>

<form action="/user_details">
  <button>Back to User Details</button>
</form>

<form action="/delete_user" method="post">
<input type="hidden" name="_method" value="delete">
  <button>Delete Account</button>
</form>