<h1>Welome to Bill Tracker!</h1>

<div class="login-signup-btn-container">

  <form action="/sign_up_form">
    <button class="login-signup-btns">Sign Up</button>
  </form>

  <form action="/login">
    <button class="login-signup-btns">Login</button>
  </form>

</div>