<h1>Login Page</h1>

<% if session[:login_failed] == true %>
<h2>Incorrect Username or Password. Please try again</h2> 
<% end %>

<form class="login-page-form-container" action="/login" method="post">
  <div class="login-form-children">
    <label class="login-form-label" for="">Username</label>
    <input class="login-form-input" type="text" name="name">
  </div>
  <div class="login-form-children">
    <label class="login-form-label" for="">Password</label>
    <input class="login-form-input" type="password" name="password">
  </div>
  <div class="login-form-children login-btn-container">
    <button class="login-form-button">Login</button>
  </div>
</form>