<h1>Hi <%= @user["name"] %>, Welcome Back! 😺</h1>

<nav class="user-home-page-links-container">
  <a href="/user_details" class="user-home-page-links">My Account</a>
  <a href="/bills_tracker" class="user-home-page-links">Bills Tracker</a>
</nav>