<h1>User Details</h1>

<div class="user-details-container">
  <h3 class="user-details"><%= @user["name"] %></h3>
  <p class="user-details"> <%= @user["email"] %></p>
</div>

<div class="user-details-buttons-container">
  <form class="user-details-buttons-form" action="/update_user">
    <button class="user-details-buttons">Update Details</button>
  </form>

  <form class="user-details-buttons-form" action="/delete_user">
    <button class="user-details-buttons">Delete User</button>
  </form>
</div>