/* ALL PAGES */
header {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 50px;
  background-color: rgba(128, 52, 74, 0.5);
}
.logout-btn {
  width: 100px;
  height: 50px;
  font-size: 25px;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
h1 {
  font-family: "Roboto Condensed";
  font-size: 70px;
}


/* Welcome Page */
.login-signup-btn-container {
  display: flex;
  justify-content: center;
}
.login-signup-btns {
  margin: 50px;
  padding: 3% 4%;
  width: 170px;
  height: auto;
  font-size: 35px;
  border-radius: 20px;
  border: 2px solid black;
}


/* Sign-up & Login Pages */
.sign-up-form-container, .user-details-body {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.sign-up-form-children, .login-form-children {
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  font-size: 40px;
}
.sign-up-form-label, .login-form-label {
  width: 200px;
}
.sign-up-form-input, .login-form-input {
  border: 2px dotted black;
  font-size: 30px;
}
.sign-up-form-button, .login-form-button, .user-home-page-links {
  margin: 5%;
  padding: 1% 4%;
  width: auto;
  height: auto;
  font-size: 40px;
  border-radius: 20px;
  border: 2px solid black;
}
.login-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.login-form-button {
  width: 30%;
}


/* User Home Page */
.user-home-page-links-container {
  display: flex;
  justify-content: center;
  width: 50%;
}
.user-home-page-links {
  text-decoration: none;
  color: black;
  font-size: 35px;
  font-family: "Roboto Condensed";
}


/* User Details Page */
.user-details-container {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-bottom: 2%;
}
.user-details {
  font-size: 40px;
  margin: 3%;
}
.user-details-buttons-container {
  display: flex;
}
.user-details-buttons-form {
  margin: 2%;
}
.user-details-buttons {
  padding: 3% 2%;
  width: 170px;
  height: auto;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid black;
}

/* Update User Details & Delete User Details */
.update-user-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.update-details-input {
  font-size: 40px;
  margin: 3%;
}
.update-details-submit-btn, .delete-user-btn, .back-to-details-btn {
  margin-top: 10%;
  padding: 1% 2%;
  width: 170px;
  height: auto;
  font-size: 30px;
  border-radius: 20px;
  border: 2px solid black;
}

.back-to-details-btn {
  width: 280px;
  padding: 2%;
}

.delete-user-btn {
  color: whitesmoke;
  padding: 2%;
  width: 280px;
  background-color: darkred;
}

.delete-user-heading {
  text-align: center;
  width: 60%;
}

/* Bills Tracker Page */
.bills-tracker-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
.new-bill-form-container {
  align-self: center;
  width: 90%;
  border: 2px dotted black;
}
.new-bill-form {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5% 2%;
}
.new-bill-detail {
  font-family: "Roboto Condensed";
  font-size: 20px;
}
.new-bill-detail-input {
  height: 20px;
  font-size: 15px;
}
.new-bill-submit-btn {
  font-size: 20px;
  border-radius: 2px;
}
ul {
  margin: 5%;
}
li, .bill-details-container {
  list-style-type: none;
  display: flex;
  border-bottom: 1px dotted grey;
}
li a, .bill-detail {
  margin: 5px;
  width: 20%;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
li a:hover {
  color: aqua;
}
.bill-details-container {
  width: 55%;
}
.bill-details-buttons-container {
  display: flex;
}
.bill-details-btn-form {
  margin: 5%;
}
.bill-detail-buttons {
  margin-top: 10%;
  padding: 1% 2%;
  width: 170px;
  height: auto;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid black;
}

.update-bill-form {
  width: 90vw;
  display: flex;
  border: 1px dotted grey;
}

.update-bill-input-container {
  margin: 0;
  margin: 2%;
  width: 100%;
}

.update-bill-input {
  height: 20px;
  font-size: 15px;
}

.paid-label {
  font-size: 20px;
}

.update-bill-btn {
  height: 30px;
  font-size: 15px;
  border-radius: 10px;
}

.bills-total-container {
  display: flex;
  justify-content: center;
}

.bills-total {
  margin-top: none;
}